* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #d0d6f9;
}
html,
body {
  width: 100%;
  height: 100%;
  background-image: url(../img/gestor_img2.jpg);
  /* background-size: cover; */
}
.surveys_container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.preguntas {
  width: 50%;
  background-color: #180d35;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  padding: 2rem 0;
}
h3 {
  width: 80%;
  /* text-align: center; */
}
.surveys_table {
  background-color: #180d35;
  padding: 2rem;
  border-radius: 1rem;
}

.cell {
  padding: 0.2rem;
  border: 1px solid #d0d6f9;
  text-align: center;
  color: #d0d6f9;
}
